.poster{
    display: table;
    height: 50%;
    margin: 5% 10% 5% 10%;
    margin-top: 5%;
    text-align: initial;
    width: 80%;

    background-color: khaki;
}
.poster img{
    display: inline-block;
    height: 100%;
    width: 50%;
}

.poster div{
    display: inline-block;
    width: 49%;
    background-color: lawngreen;
}

.contenido #titulo{
    background-color: lightcoral;
}
#cantidad{
    width: 30px;
}


.compra{
    align-content: center;
}