*{
    padding: 0;
    margin: 0;
}
/*Cabecera*/
#header{
    background: black;
    padding: 10px;
}

#header ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}

#header ul li a{
    border-color: seagreen;
    border-style: dotted;
    color: white;
    text-decoration:none;
    padding: 5px;
}
/*Titulo*/
.center{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

/*body*/
/*Backgrounds*/
.titulo{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.edicion{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.carteleras{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*footer*/
#footer{
    background-color: #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
    position: inherit;
    width: 100%;
    }

#footer p{
    margin-left: 20px;
}