*{
    padding: 0;
    margin: 0;
}

/*Cabecera*/
.header{
    background: transparent;
    height: 10%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}
.header li{
    background: #B2FF9E;
    background: transparent;
    box-shadow: 2px 2px 5px black inset, -2px -2px 5px black  inset;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    height: 80%;
    margin-left: -4px;
    padding: 10px;
    text-align: center;
    width: 20%;
}
.header li:hover{
    box-shadow: 2px 2px 15px black inset, -2px -2px 15px black  inset;
    background: #B2FF9E ;
    -webkit-transition-duration: 0.5s;
}
.header li a:focus{
    color: turquoise;
}
.center{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

/*body*/

/*Backgrounds*/
.titulo{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.edicion{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.carteleras{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*footer*/
#footer{
    background-color: #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
    position: inherit;
    width: 100%;
    }

#footer p{
    margin-left: 20px;
}